body {
    /*background-image: url("");*/
    margin: 0;
}
.container {
    position: absolute;
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
h1 {
    text-align: center;
}
.newItem {
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0;
}